.cardGrid{
    display:grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
.cardContainer{
    margin-bottom:1rem;
    border-radius: 1rem 1rem 0 0;
    max-width:400px;
}
.titleAndContent{
    /* background-color: pink; */
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.01rem rgba(0, 0, 0, 0.146);
    margin-bottom:0.6rem;
}
.headerContainer{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 1rem 1rem 0 0;
    justify-content: space-between;
    padding:1.6rem 0.6rem 0.6rem 0.6rem;
}
.cardTitle{
    font-family: "superfoods";
    font-size:1.6rem;
}
.allTags{
    gap:0.4rem;
}
.allTags p{
    color:white;
    padding:0.1rem 0.3rem;
    border-radius: 0.3rem;
}
.cardVideo{
    width:100%;
    max-height: 150px;
}
.contentContainer{
    background-color: rgb(255, 255, 255);
    padding: 0 0.4rem;
    margin:0.1rem 0;
    height: 125px;
    overflow-y: auto;
}
.contentContainer p+p{
    margin-top:0.2rem;
}
.btnContainer{
    background-color: rgb(255, 255, 255);
}
/* .projectImg{
    max-width: 200px;
} */
.cardVideo{
    max-width: 200px;
}
.btnContainer{
    gap:0.4rem;
}
.cardLink{
    color:white;
    text-decoration: none;
    padding:0.2rem 0.4rem;
    border-radius: 0.4rem;
}

@media screen and (max-width: 820px) {
    .cardGrid{
    display:grid;
    grid-template-columns: 1fr;
    gap:2rem;
    }
    .contentContainer{
        height: 100%;
        overflow-y: none;
    }
}

@media screen and (max-width: 350px) {

    .headerContainer{
        padding-bottom:0.2rem;
    }
    .cardContainer{
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    max-width:400px;
    }
    .cardTitle{
        font-family: "superfoods";
        font-size:1.1rem;
    }
    .allTags{
        gap:0.1rem;
        flex-direction: column;
        align-items: start;
    }
    .allTags p{
        font-size:0.8rem;
        color:white;
        padding:0.1rem 0.2rem;
        border-radius: 0.3rem;
    }
}

