.scrollWrapper {
  position: relative;
  background-color: #EAF7FF;
}

.scrollBox {
  max-height: 100px;
  overflow-y:auto;
}

.fadeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;

/*   background: linear-gradient(
    transparent,
    rgba(255,255,255,0.95)
  ); */
}
.infoAndBtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoTags{
  display: flex;
  gap:0.6rem;
}
.tagInfo{
  font-family: arial;
  padding:0.2rem 0.4rem;
  border-radius: 0.2rem;
  background-color: #E5D79F;
  color:rgb(255, 255, 255);
}

.cardBtns{
  justify-content: center;
}

.btnLink{
  color:white;
  background-color: black;
}
.web{
  height: 100%;
  text-transform: uppercase;
}